{
    "openapi": "3.0.1",
    "info": {
        "title": "Tasks",
        "description": "",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "If you're using a third-party service for project management, you can create and manage any tasks associated with your CRM records by logging them in HubSpot.",
        "x-hubspot-related-documentation": [
            {
                "name": "Tasks Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/engagements/tasks"
            }
        ],
        "x-hubspot-introduction": "Use the tasks API to associate tasks with your CRM records. You can assign tasks to specific users in your account, keep track of their status, and organize them using different priorities and types."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v3/objects/tasks"
        }
    ],
    "tags": [
        {
            "name": "Batch"
        },
        {
            "name": "Basic"
        },
        {
            "name": "Search"
        }
    ],
    "paths": {
        "/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Read tasks by ID or property",
                "description": "Retrieves a batch of tasks based on the `inputs`, `properties`, and `propertiesWithHistory` fields. The `properties` field lists properties to return, while the `propertiesWithHistory` field includes properties with their previous values. If any specified properties are missing from the requested objects, they will be ignored.",
                "operationId": "post-/crm/v3/objects/tasks/batch/read_read",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    }
                ]
            }
        },
        "/{taskId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Read a task",
                "description": "Read an Object identified by `{taskId}`. `{taskId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/tasks/{taskId}_getById",
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the task to retrieve."
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Archive a task",
                "description": "Move an Object identified by `{taskId}` to the recycling bin.",
                "operationId": "delete-/crm/v3/objects/tasks/{taskId}_archive",
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the task to archive."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Update a task",
                "description": "Perform a partial update of an Object identified by `{taskId}`. `{taskId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
                "operationId": "patch-/crm/v3/objects/tasks/{taskId}_update",
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the task to update."
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            }
        },
        "/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Archive a batch of tasks by ID",
                "description": "Moves a batch of tasks identified by the `id` s specified in the `inputs` to the recycling bin.",
                "operationId": "post-/crm/v3/objects/tasks/batch/archive_archive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            }
        },
        "/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create a batch of tasks",
                "description": " Create a batch of tasks using the same rules as when creating an individual task",
                "operationId": "post-/crm/v3/objects/tasks/batch/create_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            }
        },
        "/batch/update": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Update tasks by ID or property",
                "description": "update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.",
                "operationId": "post-/crm/v3/objects/tasks/batch/update_update",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "List of the tasks",
                "description": "Read a page of tasks. Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/tasks_getPage",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create a task",
                "description": "Create a task with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard tasks is provided.",
                "operationId": "post-/crm/v3/objects/tasks_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            }
        },
        "/batch/upsert": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Upsert a batch of tasks",
                "description": "Create or update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.",
                "operationId": "post-/crm/v3/objects/tasks/batch/upsert_upsert",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    }
                ]
            }
        },
        "/search": {
            "post": {
                "tags": [
                    "Search"
                ],
                "summary": "Search for tasks",
                "description": "Search for tasks based on filters, properties, sorting, and query parameters.",
                "operationId": "post-/crm/v3/objects/tasks/search_doSearch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicObjectSearchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Optional sub-category providing further error classification."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Contextual metadata map with string array values for the error."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links associated with the error."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the error instance."
                    },
                    "category": {
                        "type": "string",
                        "description": "High-level category classifying the error type."
                    },
                    "message": {
                        "type": "string",
                        "description": "Human-readable description of the error."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "description": "List of detailed error objects providing granular error info."
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP status code or status label associated with the error."
                    }
                },
                "description": "Standard error response structure returned by the API."
            },
            "CollectionResponseAssociatedId": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Paging metadata for navigating the result set."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociatedId"
                        },
                        "description": "Array of associated object ID entries returned in the response."
                    }
                },
                "description": "Paginated collection of associated object IDs."
            },
            "PublicAssociationsForObject": {
                "required": [
                    "to",
                    "types"
                ],
                "type": "object",
                "properties": {
                    "types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpec"
                        },
                        "description": "List of association type specifications for the relationship."
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The target object to associate with."
                    }
                },
                "description": "Defines associations to create between an object and a target."
            },
            "BatchResponseSimplePublicObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of supplementary links related to the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of task objects returned in the batch response."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch operation response containing resulting task objects and status."
            },
            "FilterGroup": {
                "required": [
                    "filters"
                ],
                "type": "object",
                "properties": {
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Filter"
                        },
                        "description": "Array of filter conditions within this group."
                    }
                },
                "description": "A logical grouping of filters applied together in a search query."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                },
                "description": "Detailed information about a specific error encountered during a request."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor and link referencing the next page of results."
                    }
                },
                "description": "Pagination metadata for forward-only cursor-based navigation."
            },
            "SimplePublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the object."
                    }
                },
                "description": "A minimal object representation containing only a unique identifier."
            },
            "BatchResponseSimplePublicUpsertObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant hypermedia links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of upserted task objects returned in the batch response."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "Array of errors encountered for individual records in the batch."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch upsert operation."
                    }
                },
                "description": "Batch upsert response including results, status, timestamps, and any errors encountered."
            },
            "BatchReadInputSimplePublicObjectId": {
                "required": [
                    "inputs",
                    "properties",
                    "propertiesWithHistory"
                ],
                "type": "object",
                "properties": {
                    "propertiesWithHistory": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names for which to include historical values."
                    },
                    "idProperty": {
                        "type": "string",
                        "description": "The property to use as the unique identifier for lookup."
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object IDs to retrieve in the batch read."
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to include in the response."
                    }
                },
                "description": "Input schema for batch reading tasks by ID, specifying properties to retrieve."
            },
            "BatchResponseSimplePublicUpsertObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of upserted task objects returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch response containing upserted task objects with processing status and timestamps."
            },
            "BatchInputSimplePublicObjectId": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object IDs to process in the batch operation."
                    }
                },
                "description": "Input schema for a batch operation containing an array of object IDs."
            },
            "ValueWithTimestamp": {
                "required": [
                    "sourceType",
                    "timestamp",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "sourceId": {
                        "type": "string",
                        "description": "Identifier of the source that set this value."
                    },
                    "sourceType": {
                        "type": "string",
                        "description": "Type of source that originated this value."
                    },
                    "sourceLabel": {
                        "type": "string",
                        "description": "Human-readable label describing the value's source."
                    },
                    "updatedByUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the user who last updated this value."
                    },
                    "value": {
                        "type": "string",
                        "description": "The property value recorded at the given timestamp."
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when this value was recorded or last updated."
                    }
                },
                "description": "A property value paired with its source metadata and recorded timestamp."
            },
            "BatchInputSimplePublicObjectBatchInputUpsert": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInputUpsert"
                        },
                        "description": "Array of task objects to upsert in batch."
                    }
                },
                "description": "Input schema for a batch upsert operation containing task objects to create or update."
            },
            "CollectionResponseWithTotalSimplePublicObjectForwardPaging": {
                "required": [
                    "results",
                    "total"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of task records matching the request."
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward paging cursor for retrieving the next result set."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of task objects returned in the current page."
                    }
                },
                "description": "A paginated collection of task objects with a total count and forward paging cursor."
            },
            "SimplePublicObject": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the task record was created."
                    },
                    "archived": {
                        "type": "boolean",
                        "example": false,
                        "description": "Indicates whether the task has been archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the task record was archived."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of task property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "example": "512",
                        "description": "Unique identifier of the task record."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Map of task property names to their current values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the task record was last updated."
                    }
                },
                "example": {
                    "id": "512",
                    "properties": {
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hs_task_body": "Send Proposal",
                        "hs_task_priority": "HIGH",
                        "hs_task_status": "WAITING",
                        "hs_task_subject": "Follow-up for Brian Buyer",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hubspot_owner_id": "64492917"
                    },
                    "createdAt": "2019-10-30T03:30:17.883Z",
                    "updatedAt": "2019-12-07T16:50:06.678Z",
                    "archived": false
                },
                "description": "Represents a single task object with its properties, timestamps, and archival state."
            },
            "PublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the public object."
                    }
                },
                "description": "Represents a public object identifier containing a unique ID string."
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor and link for retrieving the next page of results."
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage",
                        "description": "Cursor and link for retrieving the previous page of results."
                    }
                },
                "description": "Contains cursors for navigating to the next or previous page of results."
            },
            "PublicObjectSearchRequest": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": "Full-text search query string to filter task results."
                    },
                    "limit": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to return per page."
                    },
                    "after": {
                        "type": "string",
                        "description": "Cursor token for retrieving the next page of results."
                    },
                    "sorts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to sort results by."
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to include in the response."
                    },
                    "filterGroups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FilterGroup"
                        },
                        "description": "Groups of filters to apply when narrowing search results."
                    }
                },
                "description": "Request body for searching task objects with filters, sorting, and pagination."
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ],
                            "invalidPropertyName": [
                                "propertyValue"
                            ]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Represents an API error response, including category, message, correlation ID, and optional context details."
            },
            "SimplePublicObjectBatchInputUpsert": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "description": "Name of the property used as the unique identifier."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace ID for tracking the object write operation."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the task to upsert."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value map of task property names and their values."
                    }
                },
                "description": "Input payload for upserting a single task in a batch operation, containing an identifier and property values."
            },
            "BatchResponseSimplePublicObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the batch operation started."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related link names to their associated URLs."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "List of successfully processed task objects from the batch."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of errors encountered for individual items in the batch."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch operation response containing task results, processing status, timestamps, and any errors encountered."
            },
            "SimplePublicObjectInput": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Optional trace identifier for tracking the write operation."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Key-value map of task property names and their string values."
                    }
                },
                "example": {
                    "properties": {
                        "hs_task_body": "Send Proposal",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_task_status": "WAITING",
                        "hs_task_subject": "Follow-up for Brian Buyer",
                        "hs_task_priority": "HIGH",
                        "hubspot_owner_id": "64492917"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Request body schema for creating or updating a task object, containing property key-value pairs."
            },
            "CollectionResponseSimplePublicObjectWithAssociationsForwardPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward paging cursor for retrieving the next page of results."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                        },
                        "description": "Array of task objects returned in the current page, each with associations."
                    }
                },
                "description": "Paginated collection of task objects, each including their associated records."
            },
            "AssociationSpec": {
                "required": [
                    "associationCategory",
                    "associationTypeId"
                ],
                "type": "object",
                "properties": {
                    "associationCategory": {
                        "type": "string",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "USER_DEFINED",
                            "INTEGRATOR_DEFINED"
                        ],
                        "description": "The category of the association: HUBSPOT_DEFINED, USER_DEFINED, or INTEGRATOR_DEFINED."
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Numeric identifier for the specific association type."
                    }
                },
                "description": "Defines the category and type of an association between two objects."
            },
            "SimplePublicObjectWithAssociations": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectionResponseAssociatedId"
                        },
                        "description": "Map of associated object collections, keyed by association type."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the task was created."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Indicates whether the task has been archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the task was archived."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the task object."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "description": "Map of task property names to their current string values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp indicating when the task was last updated."
                    }
                },
                "example": {
                    "properties": {
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hs_task_body": "Send Proposal",
                        "hs_task_priority": "HIGH",
                        "hs_task_status": "WAITING",
                        "hs_task_subject": "Follow-up for Brian Buyer",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hubspot_owner_id": "64492917"
                    }
                },
                "description": "A task object including its properties, metadata, and associated records."
            },
            "Filter": {
                "required": [
                    "operator",
                    "propertyName"
                ],
                "type": "object",
                "properties": {
                    "highValue": {
                        "type": "string",
                        "description": "Upper bound value used with the BETWEEN operator for range filtering."
                    },
                    "propertyName": {
                        "type": "string",
                        "description": "The name of the property to filter on."
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A list of values to match against for multi-value operators."
                    },
                    "value": {
                        "type": "string",
                        "description": "The single value to compare against the specified property."
                    },
                    "operator": {
                        "type": "string",
                        "description": "The comparison operator used to evaluate the filter condition.",
                        "enum": [
                            "EQ",
                            "NEQ",
                            "LT",
                            "LTE",
                            "GT",
                            "GTE",
                            "BETWEEN",
                            "IN",
                            "NOT_IN",
                            "HAS_PROPERTY",
                            "NOT_HAS_PROPERTY",
                            "CONTAINS_TOKEN",
                            "NOT_CONTAINS_TOKEN"
                        ]
                    }
                },
                "description": "Defines a filter condition using a property, operator, and comparison value(s)."
            },
            "BatchInputSimplePublicObjectBatchInput": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInput"
                        },
                        "description": "An array of task update input objects to process in batch."
                    }
                },
                "description": "A batch input wrapper containing an array of task update objects to process in a single request."
            },
            "BatchInputSimplePublicObjectInputForCreate": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                        },
                        "description": "An array of task creation input objects to process in batch."
                    }
                },
                "description": "A batch input wrapper containing an array of task creation objects to process in a single request."
            },
            "PreviousPage": {
                "required": [
                    "before"
                ],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string",
                        "description": "The cursor value representing the start of the previous page."
                    },
                    "link": {
                        "type": "string",
                        "description": "A direct URL link to the previous page of results."
                    }
                },
                "description": "Pagination cursor details for navigating to the previous page of results."
            },
            "SimplePublicUpsertObject": {
                "required": [
                    "createdAt",
                    "id",
                    "new",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The datetime when the task was originally created."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Indicates whether the task is archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The datetime when the task was archived, if applicable."
                    },
                    "new": {
                        "type": "boolean",
                        "description": "Indicates whether the task was newly created by the upsert operation."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "A map of property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the task."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of the task's property names to their current values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The datetime when the task was last updated."
                    }
                },
                "description": "Represents a task object returned after an upsert operation, indicating whether it was newly created or updated."
            },
            "SimplePublicObjectBatchInput": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "example": "my_unique_property_name",
                        "description": "The property name used as a unique identifier instead of the record ID."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for tracking the write operation."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the task record to update."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of task properties to update."
                    }
                },
                "example": {
                    "id": "1",
                    "properties": {
                        "hs_task_body": "Send Proposal",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_task_status": "WAITING",
                        "hs_task_subject": "Follow-up for Brian Buyer",
                        "hs_task_priority": "HIGH",
                        "hubspot_owner_id": "64492917"
                    }
                },
                "description": "Input schema for batch updating an existing task object by ID or unique property."
            },
            "AssociatedId": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the associated object."
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of association between the objects."
                    }
                },
                "description": "Represents an associated object with its identifier and association type."
            },
            "NextPage": {
                "required": [
                    "after"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "example": "?after=NTI1Cg%3D%3D",
                        "description": "The relative URL link to the next page of results."
                    },
                    "after": {
                        "type": "string",
                        "example": "NTI1Cg%3D%3D",
                        "description": "Cursor token representing the start of the next results page."
                    }
                },
                "example": {
                    "after": "NTI1Cg%3D%3D",
                    "link": "?after=NTI1Cg%3D%3D"
                },
                "description": "Pagination details for retrieving the next page of results."
            },
            "SimplePublicObjectInputForCreate": {
                "required": [
                    "associations",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationsForObject"
                        },
                        "description": "List of associations linking the new task to other CRM objects."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for tracking the write operation."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of task properties to set on creation."
                    }
                },
                "example": {
                    "properties": {
                        "hs_task_body": "Send Proposal",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_task_status": "WAITING",
                        "hs_task_subject": "Follow-up for Brian Buyer",
                        "hs_task_priority": "HIGH",
                        "hubspot_owner_id": "64492917"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input schema for creating a new task object with properties and associations."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "e-commerce": "e-commerce",
                            "crm.objects.custom.write": "Change custom object records",
                            "media_bridge.read": "Read media and media events",
                            "crm.objects.goals.read": "Read goals",
                            "tickets": "Read and write tickets",
                            "crm.objects.custom.read": "View custom object records"
                        }
                    }
                }
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.contacts.read": " ",
                            "crm.objects.listings.read": "Read listings",
                            "crm.objects.carts.write": "Write cart",
                            "crm.objects.courses.write": "Write courses",
                            "crm.objects.quotes.write": "Quotes",
                            "crm.objects.users.read": "Read User CRM objects",
                            "crm.objects.companies.read": " ",
                            "crm.objects.appointments.read": "Read appointments",
                            "crm.objects.partner-clients.write": "Modify Partner Client CRM objects",
                            "crm.objects.leads.read": "Read lead objects",
                            "crm.objects.appointments.write": "Write appointments",
                            "crm.objects.services.write": "Write services",
                            "crm.objects.line_items.read": "Line Items",
                            "crm.objects.courses.read": "Read courses",
                            "crm.objects.deals.read": " ",
                            "crm.objects.invoices.read": "Read invoices objects",
                            "crm.objects.partner-clients.read": "View Partner Client CRM objects",
                            "crm.objects.deals.write": " ",
                            "crm.objects.line_items.write": "Line Items",
                            "crm.objects.listings.write": "Write listings",
                            "crm.objects.companies.write": " ",
                            "crm.objects.contacts.write": " ",
                            "crm.objects.users.write": "Write User CRM objects",
                            "crm.objects.commercepayments.read": "Read the COMMERCE_PAYMENT object.",
                            "crm.objects.leads.write": "Modify lead objects",
                            "crm.objects.subscriptions.read": "Read Commerce Subscriptions",
                            "crm.objects.carts.read": "Read carts",
                            "crm.objects.orders.write": "Write orders",
                            "crm.objects.quotes.read": "Quotes",
                            "crm.objects.services.read": "Read services",
                            "crm.objects.orders.read": "Read Orders"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            }
        }
    },
    "x-hubspot-available-client-libraries": [
        "PHP",
        "Node",
        "Ruby",
        "Python"
    ],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE"
    },
    "x-hubspot-documentation-banner": "NONE"
}